@font-face {
    font-family: RobotoLight; /* Имя шрифта */
    src: url(fonts/robotoLight.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: RobotoThin; /* Имя шрифта */
    src: url(fonts/robotoThin.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: RobotoBlack; /* Имя шрифта */
    src: url(fonts/robotoBlack.ttf); /* Путь к файлу со шрифтом */
   }

body {
	background: #2c3e50;\
	/*background: #ffffff;*/
}

/*-----  begin header  -----*/
.bodyHeader {background: #2c3e50;}

 .header {height: 45px;}

     .headerLogo,
     .headerNav,
     .headerEnter {
     	height: inherit;
     	text-align: center;
     }

    .logo {
    	width: 140px;
    	height: 45px;
    	background: #ffffff;
    	color: #239e57;
    	font-family: RobotoBlack;
    	text-transform: uppercase;
    	font-size: 20px;
    	padding-top: 8px;
    }

    .headerNav {
    	text-align: center;
    	padding-top: 10px;
    }

		.headerNavText {color: #ffffff;}

        @media screen and (max-width:767px) {
            .headerNavText>div {
                float: left;
            }
            .headerLogo,
            .headerNav{
            	float: left;
            }
            .headerEnter {
            	float: right;
            }
        }

    .headerEnter {padding-top: 5px;}

		.button {
			width: 90px;
			height: 34px;
			background: #239e57;
			/*text-align: center;*/
			color: #ffffff;
			float: right;
			font-size: 16px;
			text-transform: uppercase;
			padding-top: 5px;
		}
/*-----  END header  -----*/

/*-----  begin HeaderMainPic  -----*/
.HeaderMainPic {
	background: url(../image/slider_01.jpg) no-repeat;
	height: 420px;
	width: 100%;
	text-align: center;
	font-family: RobotoThin;
}

      @media screen and (max-width:767px) {
          .HeaderMainPic {
            height: 320px;
          }
      }

		.HeaderMainPicText {
			font-size: 45px;
			padding-top: 100px;
		}

        @media screen and (max-width:767px) {
            .HeaderMainPicText {
              padding-top: 50px;
            }
        }

		.HeaderMainPicArrow {
			padding-top: 180px;
		}

    @media screen and (max-width:767px) {
      .HeaderMainPicArrow {
  			  visibility: hidden;
  		}
    }
/*-----  END HeaderMainPic  -----*/

/*-----  begin backroundWhite  -----*/
  .backroundWhite {
    	background: #fff;
    	padding-bottom: 40px;
  }

		.contentMain p {
			text-align: left;
			font-size: 16px;
		}

		.SideLeft {
			margin-top: 65px;
		}

		.SideRightText {
			margin-top: 45px;
		}

		.SideRightFoto {
		/*	background: url(../image/foto_001.jpg) no-repeat; */


			margin-top: 7px;
		}
/*-----  END backroundWhite  -----*/

/*-----  begin registration  -----*/
.registration {
	background: url(../image/foto_002.jpg) no-repeat;
	height: 520px;
	width: 100%;
	text-align: center;
}

		.registrationForm {
			height: 350px;
			background: #fff;
			margin-top: 7%;
			padding-bottom: 30px;
		}

		.backroundWhite {
			text-align: center;
			background: #fff;
			width: 100%;
		}
/*-----  END registration  -----*/

/*-----  begin footer  -----*/
		.footer {
			height: 45px;
			color: #fff;
			padding-top: 8px;
			text-align: center;
		}
/*-----  END footer  -----*/
